{{>nav-publication}}
{{>navigation-bar}}
<div class="container">
    {{>nav-profile}}
    {{>errors}}
    <form action="/closet?_method=PUT" method="POST" enctype="multipart/form-data" id="form-add-clothe">
        <input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="col-12">
                {{>list-tags}}
            </div>
        </div>
        <div class="row">
            {{>preview-image}}
        </div>
        <div class="row mb-4">
            <div class="col 12 d-flex justify-content-center">
                <input class="btn-add-clothe" type="submit" value="Añadir" id="btn-add-clothe">
            </div>
        </div>
    </form>
</div>