{{>nav-publication}}
{{>navigation-bar}}
<div class="container">
    {{>nav-profile}}
    <div class="row">
        <div class="col-12">
            {{>list-tags}}
        </div>
    </div>
    <div class="row">
        {{>preview-image}}
    </div>
    <div class="row mb-4">
        <button class="btn btn-primary">Añadir</button>
    </div>
</div>