{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    {{>nav-profile}}
    <form>
        <div class="row">
            <div class="col-12">
                {{>list-tags}}
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                {{>list-tags}}
            </div>
        </div>

        <div class="row">
            <div class="bg-primary" style="height: 700px; width: 100%;">

            </div>
        </div>
        <div class="row mb-4 mt-4">
            <button class="btn btn-primary">Añadir</button>
        </div>
    </form>
</div>