{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    {{>nav-profile}}
    <div class="row">
        <div class="col-12">
            {{>list-tags}}
        </div>
    </div>

    <div class="row" style="height: 600px;">
        <div class="col-3 bg-danger lista-ropas d-flex flex-column align-items-center" ondrop="drop(event)" ondragover="allowDrop(event)"
            style="height: 100%; overflow-y: scroll;">

        </div>
        <div class="col-9 bg-primary d-flex flex-column justify-content-center align-items-center" id="vestidor"
            ondrop="drop(event)" ondragover="allowDrop(event)" style="height: 100%;">

        </div>
    </div>

    <div class="row mb-4 mt-4">
        <button class="btn-add-outfit" onclick="captura()">Añadir</button>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>