{{>nav-publication}}
{{>navigation-bar}}

<div class="container mt-4">
    <div class="row">
        <div class="col-3 addScroll">
            {{>model-user-chat-list}}
        </div>
        <div class="col-1"></div>
        <div class="col-8">
            {{#if user}}
            <div class="d-flex justify-content-center align-items-center top-bar-chat">
                <div class="target-chat-image-name p-2">
                    <img class="rounded-circle" src="/img/user/{{user.profile_image}}" alt="">
                    <p>{{user.userName}}</p>
                </div>
            </div>
            <div class="content-chat">
                <div class="message-emisor-chat">
                    <p>Hola!!!</p>
                </div>
                <div class="message-emisor-chat">
                    <p>Que tal?</p>
                </div>
                <div class="message-receptor-chat">
                    <p>Bien</p>
                </div>
                <div class="message-receptor-chat">
                    <p>Un poco cansada</p>
                </div>
                <div class="message-receptor-chat">
                    <p>Acabo de llegar del Gim</p>
                </div>
                <div class="message-receptor-chat">
                    <p>Y tu que tal</p>
                </div>
                <div class="message-emisor-chat">
                    <p>Todo Bien</p>
                </div>
            </div>

            <div class="input-group mt-3">
                <input type="hidden" id="chatReceptor" value="{{user.userName}}">
                <input type="text" class="form-control" placeholder="Write a message ... " id="input-chat-text-message">
                <button class="btn btn-outline-secondary" id="btn-chat-send-message">Send</button>
            </div>

            {{else}}
            <div class="bg-light" height="700px">

            </div>
            {{/if}}
        </div>
    </div>
</div>

