{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    {{>nav-profile}}
    <div class="row">
        <div class="col-12">
            {{>list-tags}}
        </div>
    </div>
    <div class="grid-profile mt-5 content-grid-closet">
        <h4>Escoge una categoria</h4>
    </div>
</div>

{{>modal-remove}}