{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    <div class="row d-flex justify-content-center mb-2">
        <div class="col-12 d-flex justify-content-center gap-5 p-3 container-data-profile">
            <img class="rounded-circle bg-black" src="/img/user/{{user.profile_image}}" alt="" width="200px"
                height="200px">
            <div class="d-dlex">
                <p class="fs-1">{{user.userName}}</p>
                <div class="bg-light text-center div-data-publication">
                    <p class="text-center">Publicaciones</p>
                    <p>{{publications.length}}</p>
                </div>
            </div>
        </div>
    </div>
    {{>nav-profile}}


    <div class="grid-profile">
        {{#each publications}}
        <div>
            <img src="img/post/{{this.image}}" alt="" height="300px">
        </div>
        {{/each}}
    </div>
</div>