{{>nav-publication}}
{{>navigation-bar}}


<div class="container mt-5">

    <div id="errors">

    </div>


    <form {{!--action="/newPublications" --}} method="post" enctype="multipart/form-data" id="form-publicar">
        <div class="row">
            <div class="col-12">
                <h4>Description</h4>
                <textarea class="form-control" name="addDescriptionImage" id="addDescriptionImage" cols="30" rows="5"
                    placeholder="Write a description"></textarea>
            </div>
        </div>
        <div class="row">
            {{>preview-image}}
            <div class="col-12 d-flex justify-content-end mb-3">
                <img src="/svgIcons/addTag.svg" alt="" width="25px" height="25px" class="icon-tag" id="icon-tag">
            </div>
            <div class="col-12 content-tag">

            </div>

            <div class="col-12 d-flex justify-content-center mt-3 mb-5">
                <input class="btn button-post" type="submit" value="Publicar" id="btn-post-publication">
            </div>
        </div>
    </form>
</div>
{{>modal-tag}}