{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    {{>nav-profile}}

    <div class="grid-profile mt-5">
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
            <i class="fa-solid fa-xmark btn-delete-tag"></i>
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
        <div class="grid-profile-item">
            <img src="pngIcons/dress.png" alt="" height="300px">
        </div>
    </div>
</div>