{{>nav-publication}}
{{>navigation-bar}}

<div class="container">
    {{>nav-profile}}

    <div class="grid-profile mt-5">

        {{#if sendOutfits}}
            {{#each sendOutfits}}
            <div class="grid-profile-item">
                <img src="{{this.image}}" alt="" height="300px">
                <i class="fa-solid fa-xmark btn-delete-tag" data-id="{{this._id}}" onclick="openModalSureRemoveOutfit(this)"></i>
            </div>
            {{/each}}
        {{else}}
        <h4 class="text-center">No hay Outfits</h4>
        {{/if}}

    </div>
</div>

{{>modal-remove-outfit}}