<div class="container main">
    <div class="row ">
        <div class="col-6 d-none d-xl-block d-lg-block">
            <h2 class="logo">StyClot</h2>
            {{!-- <img class="video" src="https://firebasestorage.googleapis.com/v0/b/proyectonotek.appspot.com/o/StyClot_video_inicio_render.gif?alt=media&token=4ebc629a-bfc2-4c29-9e6c-7eeffbcd581a"> --}}
            <img class="video" src="/video/StyClot_video_inicio_render.gif">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <h2 class="text-center fs-1">Sign Up</h2>
            <form class="d-flex flex-column" action="/signup" method="post" enctype="multipart/form-data">
                <div class="divUserName">
                    <i class="fa-solid fa-user divUserName__i"></i>
                    <input class="form-control divEmail__input" type="text" name="userName" id="userName"
                        placeholder="User Name" value="{{userName}}">
                </div>
                <div>
                    <label style="font-size: large; font-weight: 400;">PROFILE PICTURE</label>
                    <input type="file" name="image" id="image">
                </div>
                {{>input-email}}
                {{>input-password}}
                {{>input-repeatPassword}}
                {{#each errors}}
                    <p class="text-danger">{{text}}</p>
                {{/each}}
                <input class="btn-login mt-5 margenTop" type="submit" value="Create Account">
            </form>
            <div class="d-flex justify-content-end">
                <a href="/" class="enlace mt-3 fs-5">Sign in</a>
            </div>
            {{>line-or-line}}
            {{>btn-google}}
        </div>
    </div>
</div>
{{>mode-dark}}