<div class="container main">
    <div class="row ">
        <div class="col-6 d-none d-xl-block d-lg-block">
            <img class="video" src="/video/StyClot_video_inicio_render.gif">
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12">
            <h2 class="text-center logo">StyClot</h2>
            <form class="d-flex flex-column" action="/signin" method="post">
                {{>input-email}}
                {{>input-password}}
                {{>error}}
                <input class="btn-login mt-5" type="submit" value="Log in">
            </form>
            <div class="d-flex justify-content-end">
                <a href="/user/signup" class="enlace mt-3 mb-3 fs-5">Sign up</a>
            </div>
            {{>line-or-line}}
            {{>btn-google}}
            <div class="d-flex justify-content-center">
                <a class="enlace mt-4 fs-4" data-bs-toggle="modal" data-bs-target="#modal-write-email">Did you forget your password?</a>
            </div>
        </div>
        {{>modal-recoverPassword}}
    </div>
</div>
{{>mode-dark}}