:root{
    --rojo: #e65100;
    --verde: #66bb6a;
    --azul: #03a9f4;
    --blanco: #FFF;
    --negro: #000;
    --gris-claro: #d9d9d9;
    --gris-oscuro: #737373;

    --fuenteLogo: 'BIZ UDPMincho', serif;

}

a{
    text-decoration: none;
    cursor: pointer;
    color: var(--negro);
}

.chat-time-emisor{
    display: flex;
    justify-content: end;
}

.chat-time-receptor{
    display: flex;
    justify-content: start;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    padding: 0 20px;
    background: var(--gris-claro);
    border-radius: 0px 0px 20px 20px;
}

.form{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.form__divSearch{
    background: white;
    border-radius: .5rem;
    padding: .5rem;
}

.formSearch__inputText{
    background: 0;
    border: 0;
    color: black;
}

.formSearch__inputText::placeholder{
    color: black;
}

.formSearch__logoNavigation{
    font-family: var(--fuenteLogo);
    cursor: pointer;
}

.navigation__divIcons{
    display: flex;
    gap: 20px;
}

.divIcons__user{
    background: url(../svgIcons/user-circle.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__logout{
    background: url(../svgIcons/logout.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__home{
    background: url(../svgIcons/home.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__addImage{
    background: url(../svgIcons/addImage.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__chat{
    background: url(../svgIcons/chat.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__like{
    width: 25px;
    height: 25px;
    font-size: 25px;
}

.icon-like{
    cursor: pointer;
}

.likePress{
    color: yellow;
}

.divIcons__comment{
    background: url(../svgIcons/comment.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.divIcons__rack{
    background: url(../svgIcons/rack.svg);
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.formSearch__inputText:focus{
    outline: none;
}

@media(max-width: 500px) {
    .form__divSearch{
        display: none;
    }
}

.barra-navegacion{
    gap: 1rem;
}

.borde-navegacion{
    padding: 1rem;
    border-radius: 10px;
    cursor: pointer;
}

.borde-navegacion:hover{
    border: .3rem solid var(--rojo);
}

.separacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.divPublication{
    background-color: var(--gris-claro);
    clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
}

.img-publication{
    height: 600px;
    margin-bottom: -1rem;
}

.button-post{
    background: var(--rojo);
    border-radius: 1.5rem;
    font-size: 1.5rem;
    padding: 0 2rem;
}

.icon-tag{
    cursor: pointer;
}


/* Para subir la imagen */
#cuerpo-addImage{
    display: grid;
    height: 100%;
    place-items: center;
    text-align: center;
}

.contenedor{
    height: 500px;
    width: 75%;
    margin-bottom: 110px;
}

.contenedor .wrapper{
    position: relative;
    height: 500px;
    width: 100%;
    border-radius: 10px;
    background: var(--blanco);
    border: 2px dashed var(--negro);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@supports(object-fit: cover){
    .image img{
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
}

.wrapper .icon{
    font-size: 100px;
    color: var(--azul);
}

.wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: var(--azul);
}

.contenedor #custom-btn{
    margin-top: 30px;
    align-items: center;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    display: block;
    border: none;
    outline: none;
    border-radius: 25px;
    color: var(--blanco);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg, var(--azul) 0%, var(--verde) 100%);
}


/* CHAT */

.addScroll{
    height: calc(78vh);
    overflow-y: scroll;
}

.target-user-list{
    background: var(--gris-claro);
    border-radius: 20px;
}

.target-chat-image-name{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.target-chat-image-name img{
    width: 55px;
    height: 55px;
}

.target-chat-image-name p{
    font-weight: bold;
    font-size: 1.1rem;
    height: 100%;
    margin-top: 12px;
}

.estado-user{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}

.offline{
    background: var(--rojo);
}

.online{
    background: var(--azul);
}

.top-bar-chat{
    background: var(--gris-claro);
}

.content-chat{
    overflow: scroll;
    background: var(--gris-oscuro);
    height: 500px;
}

.message-emisor-chat{
    display: flex;
    justify-content: end;
    width: 100%;
}

.message-emisor-chat p{
    width: fit-content;
    padding: 0.5rem;
    background: #FFC600;
    border-radius: 0.5rem;
    margin: 0.3rem;
}

.message-receptor-chat{
    display: flex;
    justify-content: start;
    width: 100%;
}

.message-receptor-chat p{
    width: fit-content;
    padding: 0.5rem;
    background: var(--gris-claro);
    border-radius: 0.5rem;
    margin: 0.3rem;
}


/* Modal tag */

#icon-pants, #icon-t-shirt, #icon-sun-hat, #icon-sandals, #icon-dress {
    cursor: pointer;
}

/* Buscador */

.contenedor-buscador{
    width: 100%;
    z-index: 1;
    margin-top: 1rem;
}

.item-buscador img{
    width: 40px;
    height: 40px;
}

.item-buscador{
    margin: 5px;
    padding: 5px;
}

.item-buscador:hover{
    background-color: #66bb6a;
}