<div class="d-flex align-items-center btn-google ps-3 justify-content-center">
    <img class="img" src="/img/google.png" alt="google" width="7%" height="7%">
    <p class="pt-3 ps-2 text-center">Login with Google</p>
</div>