<div class="divEmail">
    <i class="fa-solid fa-envelope divEmail__i"></i>
    <input class="form-control divEmail__input" type="email" name="email" id="email" placeholder="Email" value="{{email}}">
</div>