<div class="divPassword">
    <i class="fa-solid fa-lock divPassword__i"></i>
    <input class="form-control divPassword__input" type="password" name="repeatPassword" id="repeatPassword" placeholder="Repeat Password">
    <i class="fa-solid fa-eye divPassword__visibility"></i>
</div>