<div class="swiper mySwiper">
    <div class="swiper-wrapper ps-5" id="content-swiper-wrapper">
        <div class="swiper-slide"> <input type="radio" name="check-tag" id="check-pants" value="pants"> <label
                for="check-pants"> <img id="icon-pants" src="/pngIcons/pants.png" alt=""> </label> </div>
        <div class="swiper-slide"> <input type="radio" name="check-tag" id="check-sun-hat" value="sun-hat"> <label
                for="check-sun-hat"> <img id="icon-sun-hat" src="/pngIcons/sun-hat.png" alt=""> </label> </div>
        <div class="swiper-slide"> <input type="radio" name="check-tag" id="check-sandals" value="sandals"> <label
                for="check-sandals"> <img id="icon-sandals" src="/pngIcons/sandals.png" alt=""> </label> </div>
        <div class="swiper-slide"> <input type="radio" name="check-tag" id="check-dress" value="dress"> <label
                for="check-dress"> <img id="icon-dress" src="/pngIcons/dress.png" alt=""> </label> </div>
        <div class="swiper-slide"> <input type="radio" name="check-tag" id="check-t-shirt" value="t-shirt"> <label
                for="check-t-shirt"> <img id="icon-t-shirt" src="/pngIcons/t-shirt.png" alt=""> </label> </div>
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>
<input class="tagNameHidden" type="hidden" value="" name="tagName">

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
  var swiper = new Swiper(".mySwiper", {
    slidesPerView: 3,
    spaceBetween: 20,
    slidesPerGroup: 3,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>