<div class="modal fade" id="modal-tag" tabindex="-1" role="dialog" aria-labelledby="modal-tag" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Choose clothe</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-btnSuperior-modal-tag">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" style="height: auto; width: auto; overflow-y: hidden;">
        <form>
          {{>list-tags}}

          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Where you bought it:</label>
            <input type="text" class="form-control" id="store-modal-tag">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">How much did it cost:</label><br>
            <input type="number" name="price-modal-tag" id="price-modal-tag">
          </div>
          <div id="errors-form-publicar-tag">

          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="close-modal-tag">Close</button>
        <button type="button" class="btn btn-primary" id="add-modal-tag">Add Tag</button>
      </div>
    </div>
  </div>
</div>

