<div class="modal fade" id="sure-remove-outfit" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">StyClot</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="height: auto; width: auto; overflow-y: hidden;">
        Are you sure you want to delete?
      </div>

      <div class="modal-footer">
        <form method="POST" id="formDeleteOutfit">
        <input type="hidden" name="_method" value="DELETE">
        {{!-- <input type="text" value="" id="hiddenRemove"> --}}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No</button>
          <input type="submit" class="btn btn-primary" value="Yes">
        </form>
      </div>
    </div>
  </div>
</div>