<div class="modal fade" id="modal-write-email" tabindex="-1" aria-hidden="true" aria-labelledby="label-modal-1">
    <!-- Caja de dialogo -->
    <div class="modal-dialog">
        <!-- Contenido de la caja -->
        <div class="modal-content">
            <!-- Encabezado de la caja -->
            <div class="modal-header">
                <h2 class="modal-title text-center">StyClot</h2>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- Cuerpo de la caja -->
            <div class="modal-body">
                <p>Write your email</p>
                <div class="divEmail">
                    <i class="fa-solid fa-envelope divEmail__i--modal"></i>
                    <input class="form-control divEmail__input" type="email" name="email" id="email"
                        placeholder="Email">
                </div>
            </div>

            <!-- Pie de pagina de la caja -->
            <div class="modal-footer d-flex justify-content-center">
                <input class="btn-login mt-3 mb-3" type="button" value="Send recovery code">
            </div>
        </div>
    </div>
</div>