<div class="modal fade" id="modal-write-password" tabindex="1" aria-hidden="true" aria-labelledby="label-modal-1">
    <!-- Caja de dialogo -->
    <div class="modal-dialog" id="caja">
        <!-- Contenido de la caja -->
        <div class="modal-content">
            <!-- Encabezado de la caja -->
            <div class="modal-header">
                <h2 class="modal-title text-center">StyClot</h2>
                <button class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>

            <!-- Cuerpo de la caja -->
            <div class="modal-body">
                <p>Create a new password</p>
                <form action="/recoveryPass" method="post">
                    <div class="divPassword">
                        <i class="fa-solid fa-lock divPassword__i"></i>
                        <input class="form-control divPassword__input" type="password" name="password" id="recoveryPassword"
                            placeholder="Password">
                        <i class="fa-solid fa-eye divPassword__visibility"></i>
                    </div>
                    <div class="divPassword" id="divRecoveryRepeatPassword">
                        <i class="fa-solid fa-lock divPassword__i"></i>
                        <input class="form-control divPassword__input" type="password" name="repeatPassword"
                            id="recoveryRepeatPassword" placeholder="Repeat Password">
                        <i class="fa-solid fa-eye divPassword__visibility"></i>
                    </div>
                    <div class="d-flex justify-content-center">
                        <input class="btn-login mt-3 mb-3" type="submit" id="btnRecoveryUpdatePassword" value="Send recovery code">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>