{{#each allUser}}
<a href="/chat/{{this.receptor._id}}">
    <div class="target-user-list d-flex align-items-center justify-content-between p-2 mb-3">
        <div class="target-chat-image-name">
            <img class="rounded-circle" src="/img/user/{{this.receptor.profile_image}}" alt="">
            <p>{{this.receptor.userName}}</p>
        </div>
        <div class="estado-user offline" data-id="{{this.receptor._id}}">

        </div>
    </div>
</a>
{{/each}}