<div class="target-user-list d-flex align-items-center justify-content-between p-2 mb-3">
    <div class="target-chat-image-name">
        <img class="rounded-circle" src="/svgIcons/person.jpg" alt="">
        <p>User Name</p>
    </div>
    <div class="estado-user">

    </div>
</div>