<div class="row nav-profile mb-5" id="nav-profile">
    <div class="col-2 border">
        <a href="/profile" class="d-flex justify-content-center" style="width: 100%; height: 100%;">
            <img src="/pngIcons/myImages.png" alt="">
        </a>
    </div>
    <div class="col-3 border">
        <a href="/addCloset" class="d-flex justify-content-center" style="width: 100%; height: 100%;">
            <img src="/pngIcons/camiseta-de-manga-corta.png" alt="">
        </a>
    </div>
    <div class="col-2 border">
        <a href="/closet" class="d-flex justify-content-center" style="width: 100%; height: 100%;">
            <img src="/pngIcons/aniadir-ropa.png" alt="">
        </a>
    </div>
    <div class="col-3 border">
        <a href="/addOutfit" class="d-flex justify-content-center" style="width: 100%; height: 100%;">
            <img src="/pngIcons/myCloset.png" alt="">
        </a>
    </div>
    <div class="col-2 border">
        <a href="/outfit" class="d-flex justify-content-center" style="width: 100%; height: 100%;">
            <img src="/pngIcons/lista-outfits.png" alt="">
        </a>
    </div>
</div>