<div class="row" id="nav-profile">
    <div class="col d-flex justify-content-center border">
        <img src="/pngIcons/myImages.png" alt="">
    </div>
    <div class="col d-flex justify-content-center border">
        <a href="/addCloset">
            <img src="/pngIcons/camiseta-de-manga-corta.png" alt="">
        </a>
    </div>
    <div class="col d-flex justify-content-center border">
        <a href="/closet">
            <img src="/pngIcons/aniadir-ropa.png" alt="">
        </a>
    </div>
    <div class="col d-flex justify-content-center border">
        <a href="/addOutfit">
            <img src="/pngIcons/myCloset.png" alt="">
        </a>
    </div>
    <div class="col d-flex justify-content-center border">
        <a href="/outfit">
            <img src="/pngIcons/lista-outfits.png" alt="">
        </a>
    </div>
</div>