<nav class="navigation">
  <form action="" method="post" class="form">
    <div class="form__divSearch">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input class="formSearch__inputText" type="text" name="seaech" id="search" placeholder="Search in StyClot">
    </div>
    <h1 class="formSearch__logoNavigation">StyClot</h1>
  </form>
  <div class="navigation__divIcons">
    <div class="divIcons__user" id="myProfile"></div>
    <div class="divIcons__logout" id="logout"></div>
  </div>
</nav>