<script src="/socket.io/socket.io.js" charset="utf-8"></script>
<script src="/chat.js"></script>

<nav class="navigation">
    
    <div class="d-flex form">
        
        <div class="form__divSearch position-relative">
            <i class="fa-solid fa-magnifying-glass"></i>
            <input class="formSearch__inputText" type="text" name="search" id="search" placeholder="Search in StyClot" autocomplete="off">
            <div class="position-absolute contenedor-buscador bg-primary" id="contenedor-buscadorId">
            
            </div>
        </div>

        <h1 class="formSearch__logoNavigation">StyClot</h1>
    
    </div>
      
      
    <div class="navigation__divIcons">
        <div class="divIcons__user" id="myProfile"></div>
        <div class="divIcons__logout" id="logout"></div>
    </div>

</nav>