<div class="container mt-4">
  <div class="row barra-navegacion">
    <div class="col d-flex justify-content-center borde-navegacion" id="iconHome">
      <div class="divIcons__home bg-light"></div>
    </div>
    <div class="col d-flex justify-content-center borde-navegacion" id="iconAddPost">
      <div class="divIcons__addImage"></div>
    </div>
    <div class="col d-flex justify-content-center borde-navegacion" id="iconChat">
      <div class="divIcons__chat"></div>
    </div>
  </div>
</div>